
<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->

<% if !@customapp.nil? %>
  <% capp = @customapp %>
  <div class="row">
    <div class="col-md-12">
      <div class="plantilla-moto">

  <%= image_tag @customapp.picture.url if @customapp.picture? %>
  <!-- <%= social_share_button_tag("Moto Custom tipo photo", :'data-source' => @customapp.picture.url, :'data-type' => 'photo') %> -->
<!-- <%= social_share_button_tag("Moto Custom tipo url", :url => @customapp.picture.url) %> -->
<!-- <%= social_share_button_tag("Moto Custom ", :url => custom_app_path(@customapp.id) ) %> -->
    </div>
  </div>
 </div> 
 
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to 'Share on Facebook', '#', :class => "fb-like", data:{:share=>'true', :width=>'450', :show => {:faces=>'true'} }  %>
    <%= facebook_share_once %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= social_share_button_tag("Moto Custom", :url => custom_app_path(@customapp.id) :image => @customapp.picture.url) %>
  </div>
</div>

<% if current_user?(capp.user) %>
  <p class="center">
   <%= link_to "editar", recarga_path(:id => capp.id), method: :post %> | 
   <%= link_to "eliminar", custom_app_path(:id => capp.id), method: :delete, data: {confirm: "Estas seguro de eliminar esta customizacion?"}%>
  </p>
<% else %>
   <%= link_to "Customiza tu moto",  customapp_path, method: :get,  class:'btn btn-dafault'%>
<% end %>



