<div class="container menu-custom"  style='background-color: #000; border-radius: 60px; height: 130px;'  >
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/est-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto; '), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 19.times do |x| %>
                    <li id='panel-0<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>

      </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/apl-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle  btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 25.times do |x| %>
                    <li id='panel-1<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/asi-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 6.times do |x| %>
                    <li id='panel-2<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/man-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 7.times do |x| %>
                    <li id='panel-3<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>

  </div>
  </div>
</div>
<br>
<!-- DISPLAYS -->
<div class="row">
  <div class="col-md-3 col-md-offset-1 ">
    <div class="row ">
      <div class="col-md-12">
    <div class="plantilla-moto">
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-est-app", style:'max-width:100%; height:auto;', id:'sup-est-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-apl-app", style:'max-width:100%; height:auto;', id:'sup-apl-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-asi-app", style:'max-width:100%; height:auto;', id:'sup-asi-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-man-app", style:'max-width:100%; height:auto;', id:'sup-man-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/superior/sup_plantilla.png", alt: "sup-pla-app", style:'max-width:100%; height:auto;', id:'sup-pla-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "area transparente", style:'max-width:100%; height:auto;')%>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="plantilla-moto">
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-est-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-apl-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-asi-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-man-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/lateral/lat_plantilla.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-pla-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;')%>
    </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="plantilla-moto">
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'per-est-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'per-apl-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'per-asi-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'per-man-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/perspectiva/per_plantilla.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'per-pla-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', class:'capa-moto-ultima')%>
    
  </div>
  </div>
</div>

<% if logged_in? %>
<%= link_to "guardar cambios", '#', id:'guardar-cambios-customapp', class:'btn btn-lg btn-primary'%>
<% else %>
  <% store_location %>
<%= link_to "registrate para guardar y compartir tu moto", save_changes_path, method: 'post', class:'btn btn-lg btn-primary'%>
<% end %>

<%= javascript_tag do %>
  window.custompath = '<%= j custom_apps_url %>';
<% end %>
