
<!-- APLICACIÓN CUSTOMIZACIÓN -->
<% content_for :custom do %>
  <div class="container">
    <%= render 'static_pages/customapp_partials/custombuttons' %>
  </div>
<br>

<!-- Parciales con los dibujos de cada modelo -->
  <% modelo = true %>
  <div class="container">
  <% case @modelo %>
  <% when 'vizcacha' %>
    <%= render 'static_pages/customapp_partials/customdisplays_vizcacha' %>
  <% when 'jacana' %>
    <%= render 'static_pages/customapp_partials/customdisplays_jacana' %>
  <% else %>
    <% modelo = false %>
    <h2> Escohe el modelo a customizar: </h2>
      <div class="row">
        <div class="center col-md-8 col-md-offset-2" style="margin-top:0%;">
          <div class="col-md-4 col-md-offset-2">
            <%= link_to image_tag("custom_app/vizcacha_logo.png", size:'150x150'), customapp_path(:modelo => 'vizcacha'), method: :get %>
          </div> 
          <div class="col-md-4 ">
            <%= link_to image_tag("custom_app/jacana_logo.png", size:'150x150'), customapp_path(:modelo => 'jacana'), method: :get%>
          </div>
        </div>
      </div>
  <% end %>
  </div>

<!-- botones para guardar nuevo modelo o registrarse -->
  <div class="container">
    <% if modelo %>
    <%= render 'static_pages/customapp_partials/customlinks' %>
  <% end %>
  </div>
 
  <br>

<!-- visualizaciones de las customizaciones del usuario actual -->
  <% if logged_in? %>
    <div class="container">
      <%= render 'static_pages/customapp_partials/miscustoms' %>
    </div>
  <% end %>

<%= javascript_tag do %>
  window.custompath = '<%= j custom_apps_url %>';
  window.modelo = '<%= j @modelo %>';
<% end %>

<% end %>
