
<!-- APLICACIÓN CUSTOMIZACIÓN -->
<% content_for :custom do %>
  <div class="container">
    <%= render 'static_pages/customapp_partials/custombuttons' %>
  </div>
<br>

<!-- Parciales con los dibujos de cada modelo -->
  <div class="container">
  <% case @modelo %>
  <% when 'ax4' %>
    <%= render 'static_pages/customapp_partials/customdisplays_ax4' %>
  <% when 'storm' %>
    <h1> DIBUJOS STORM </h1>
  <% else %>
    <h1> Modelo para customización no defeinido </h1>
  <% end %>
  </div>

<!-- botones para guardar nuevo modelo o registrarse -->
  <div class="container">
    <%= render 'static_pages/customapp_partials/customlinks' %>
  </div>
 
  <br>

<!-- visualizaciones de las customizaciones del usuario actual -->
  <% if logged_in? %>
    <div class="container">
      <%= render 'static_pages/customapp_partials/miscustoms' %>
    </div>
  <% end %>

<%= javascript_tag do %>
  window.custompath = '<%= j custom_apps_url %>';
  window.modelo = '<%= j @modelo %>';
<% end %>

<% end %>
