<% provide(:title, "Home") %>
<% content_for :home do %>

  <% if logged_in? %>
    <div class="container">
       <%= render 'shared/loginview' %>
    </div>
   <% else %>
    <!-- PRIMERA VENTANA INTRO - VIDEO/LOGO -->
    <div class="header-unit-0">
      <div id="video-container">
        <video autoplay loop muted class="fillWidth">
          <source src="http://www.javiercruz.cl/videos/cafer.mp4" type="video/mp4"/>
          <source src="http://vjs.zencdn.net/v/oceans.ogg" type="video/ogg"/>
          <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"/>
          Your browser does not support the video tag. I suggest you upgrade your browser.
        </video> 
      </div> <!--  end video-container -->
      <!-- LOGO sobre el video -->
      <!-- <div class="row">
        <div class="logo-over-video col-md-2 col-md-offset-3">
          <%= link_to image_tag("logo_video2.png", alt: "Taller Piñon logo", size:'640x480'), root_url %>
        </div>
      </div> -->

      <!-- Botones -->
      <div class="row">
        <div class="center col-md-4 col-md-offset-4" style="margin-top: 35%;">
          <%= link_to "Customiza tu moto!", customapp_path, method: 'get', class: "btn btn-lg btn-primary" %>
          <!-- <%= link_to "Únete a la comunidad Piñon!", signup_path, class: "btn btn-lg btn-primary" %> -->
        </div>
      </div>
    </div> <!-- end .header-unit -->


  <% end %>

  <br>

    <div class="container" id="galeria-motos" >
        <div class="jumbotron">
          <h2> Motos Piñon  </h2>
             <%= render 'static_pages/galeria_pinon' %>
          <p class='center'> <%= link_to 'ver más', index_pinon_path  %> </p>
        </div>
    </div>



<% end %>
