<!-- DISPLAYS -->
<div class="row">
  <div class="col-md-8  ">
    <div class="plantilla-moto">
    <%= image_tag("custom_app/area_transparente.png", alt: "per-est-app", style:'max-width:100%; height:auto;', id:'per-est-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "per-apl-app", style:'max-width:100%; height:auto;', id:'per-apl-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "per-asi-app", style:'max-width:100%; height:auto;', id:'per-asi-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "per-man-app", style:'max-width:100%; height:auto;', id:'per-man-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/ax4/perspectiva/per_plantilla.png", alt: "per-pla-app", style:'max-width:100%; height:auto;', id:'per-pla-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', class:'capa-moto-ultima')%>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="row ">
      <div class="col-md-12">
        <div class="plantilla-moto">
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-est-app", style:'max-width:100%; height:auto;', id:'sup-est-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-apl-app", style:'max-width:100%; height:auto;', id:'sup-apl-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-asi-app", style:'max-width:100%; height:auto;', id:'sup-asi-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "sup-man-app", style:'max-width:100%; height:auto;', id:'sup-man-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/ax4/superior/sup_plantilla.png", alt: "sup-pla-app", style:'max-width:100%; height:auto;', id:'sup-pla-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "area transparente", style:'max-width:100%; height:auto;')%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="plantilla-moto">
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-est-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-apl-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-asi-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-man-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/ax4/lateral/lat_plantilla.png", alt: "test moto img", style:'max-width:100%; height:auto;', id:'lat-pla-app', class:'capa-moto' )%>
    <%= image_tag("custom_app/area_transparente.png", alt: "test moto img", style:'max-width:100%; height:auto;')%>
        </div>
      </div>
    </div>
  </div>

</div>

  <p style='color:#101010;' class='center'> Presiona F11 para ver la aplicación en pantalla completa </p>



