<div class="container menu-custom"  style='background-color: #000; border-radius: 60px; height: 130px;'  >
  <div class="row ">
    <div class="col-md-2 ">
      <ul class="nav navbar-nav navbar-left customButton">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/est-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto; '), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 23.times do |x| %>
                    <li id='panel-0<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>

      </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right customButton">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/apl-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle  btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 23.times do |x| %>
                    <li id='panel-1<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right customButton">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/asi-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 10.times do |x| %>
                    <li id='panel-2<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right customButton">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/man-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 10.times do |x| %>
                    <li id='panel-3<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right customButton">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/lla-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 23.times do |x| %>
                    <li id='panel-4<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>
  </div>
    <div class="col-md-2">
    <ul class="nav navbar-nav navbar-right customButton">
          <li class="dropdown">
            <%= link_to image_tag('custom_app/foc-icon.png', alt:'estanque icon', style:'max-width:100px; height:auto;'), '#', class:'dropdown-toogle btn-parte-moto', :data => {:toggle=>"dropdown"}%>
            <ul class="dropdown-menu">
              <li>
                <ul class='kwicks kwicks-horizontal'>
                  <% 23.times do |x| %>
                    <li id='panel-5<%=x%>'> </li> 
                  <% end %>
                </ul>
              </li>
            </ul>
          </li>
    </ul>
  </div>
  </div>
</div>

