<h1>ContactMailer#contact_form</h1>

<p>
  <%= @greeting %>, find me in app/views/contact_mailer/contact_form.html.erb
</p>

<p> De: <%= @nombre %> </p>
<p> Mail: <%= @correo %> </p> 
<p> Asunto: <%= @asunto %> </p>
<p> Message: </p> 
<p> <%= @mensaje %> </p>

