<h1>Contacto desde Taller Piñon</h1>

<p>
  <%= @greeting %> 
</p>

<p> De: <%= @nombre %> </p>
<p> Mail: <%= @correo %> </p> 
<p> Asunto: <%= @asunto %> </p>
<p> Message: </p> 
<p> <%= @mensaje %> </p>

<% if !@moto_cotizada.nil?%>
  <p> Modelo cotizado: <%= @modelo %> </p>
  <p> ver moto que se cotiza: <%= @moto_cotizada %> </p>
<% end %>

