<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <% if customapp_in? %>
       <meta property="og:title" content="Taller Piñon" />
       <meta property="og:type" content="website" />
       <meta property="og:image" content="<%= current_custom.picture.url %>" />
       <meta property="og:image:type" content="image/jpeg" />
       <meta property="og:description"  content="Moto customizada por <%= current_user.name%> " />
    <% end %>

    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>
  <body style="background-color: black;">

    <%= render 'layouts/header' %>

    <!-- MESSAGES -->
    <div class="container" id="flash">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    
    <!-- CONTENT -->
    <% if content_for?(:home) %>
      <%= yield(:home) %>
    <% elsif content_for?(:custom) %>
      <%= yield(:custom) %>
    <% elsif content_for?(:show_custom) %>
       <div class="container">
        <%= yield(:show_custom) %>
       </div>
    <% else %>
       <div class="container">
          <%= yield %>
       </div>
    <% end %>

    <!-- FOOTER -->
    <div class="container">
    	<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %> <!-- this is to not show debug information to users of a deployed app -->
    </div>
    <!--  <div id="fb-root"></div> -->
  </body>
</html>
