 <% provide(:title, @moto.name) %> 

  <h1> <%= @moto.name %> </h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <% if @moto.picture? %>
      <%= image_tag(@moto.picture.url, alt: "foto-moto", class:'moto-responsive')  %>
    <% end %>

  </div>
</div>
<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p> Modelo:  <%= @moto.modelo %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p> Año:  <%= @moto.ano %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p> Cilindrada:  <%= @moto.cilindrada %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<%= simple_format(@moto.description) %>
  </div>
