 <% provide(:title, @moto.name) %> 
<% content_for :show_moto do %>

<div class="container">
  <h1 class="titulo-mono"> <%= @moto.name %> </h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <% if @moto.picture? %>
      <%= image_tag(@moto.picture.url, alt: "foto-moto", class:'moto-responsive')  %>
    <% end %>

  </div>
</div>
<br>

<% if User.find_by(id: @moto.user_id).email == 'contacto@tallerpinon.cl'%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
<%= render 'shared/galeria_jacana' %>
  </div>
</div>
<% end %>

<br>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p> Modelo:  <%= @moto.modelo %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p> Año:  <%= @moto.ano %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p> Cilindrada:  <%= @moto.cilindrada %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<%= simple_format(@moto.description) %>
  </div>
</div>

<% if User.find_by(id: @moto.user_id).email == 'contacto@tallerpinon.cl'%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
          <%= link_to "cotizar modelo", contact_path( :modelo => @moto.modelo  )  ,  class:'btn btn-success'%>
  </div>
</div>
<% end %>

<% end %>

